.main {
  position: fixed;
  background-color: rgb(218, 218, 218);
  width: 500px;
  height: 600px;
  bottom: 150px;
  right: 60px;
  z-index: 9999;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

.bubbleWrapper {
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  color: #fff;
}

.inlineContainer {
  display: inline-flex;
}

.inlineContainer.own {
  flex-direction: row-reverse;
}

.inlineIcon {
  width: 20px;
  object-fit: contain;
}

.ownBubble {
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #005f5f;
  border-radius: 16px 16px 0 16px;
  border: 1px solid #004949;
}

.otherBubble {
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #00bd84;
  border-radius: 16px 16px 16px 0;
  border: 1px solid #00aa63;
}

.own {
  align-self: flex-end;
}

.other {
  align-self: flex-start;
}

span.own,
span.other {
  font-size: 14px;
  color: grey;
}

#textInput {
  position: fixed;
  z-index: 9999;
}

#open-button {
  position: fixed;
  background-color: #005f5f;
  bottom: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  z-index: 9999;
}